name: C/C++ CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name : Install libconfig
      run: sudo apt install libconfig-dev
    - name : Install GTK+ dev
      run: sudo apt install libgtk-3-dev
    - name : Make server programm
      run : make server
    - name : Make client program
      run : make client
